
.con1{
  background-color: #4e3c2b;
  border: solid #4e3c2b;
  height: 80px;
  padding-top: auto;
  padding-bottom: auto;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  border-radius: 10px;
  box-shadow: 0 0 20px #4e3c2b;


}

h1 {
    color: #c8d3d0;
    margin-left: auto;
    margin-right: auto;
/* padding-left: auto;
padding-right: auto; */
/* padding-top: 5px; */

    font-size: 30px;
  }

  h2 {
    color: #c8d3d0;
    margin-left: 50px;
    font-size: 25px;
    line-height: 50px;
  }

  h3 {
    color: #c8d3d0;
    margin-left: 50px;
    font-size: 25px;
    line-height: 2ch
  }

  button {
    background-color:#4e3c2b ;
    border-radius: 30%;
    margin-left: 20px;
    box-sizing: border-box;
    /* color: #c8d3d0; */
    border: 2px solid #4e3c2b;
    width: 150px;
    height: 100px;
    /* padding-left: 30px; */
  }


  a{
    color:black;
    font-size: 25px;
  }

  a:link{
    text-decoration: none;
  }


 button:hover{
    /* color: black; */
    background-color: #c8d3d0;
      border: 2px solid #c8d3d0;
    box-shadow: 0 0 40px #4e3c2b;

  }
